buildSrc/libs
buildSrc/build/
.gradle/
build
.idea/
!.idea/codeStyles/codeStyleConfig.xml
.DS_Store
*.log
out/
buildSrc/es-knn-offline-repo-*
oss/*
*.iml
jni/CMakeCache.txt
jni/CMakeFiles
jni/Makefile
jni/cmake_install.cmake
jni/release
