[submodule "jni/nmslib/external/nmslib"]
	path = jni/nmslib/external/nmslib
	url = https://github.com/nmslib/nmslib.git
[submodule "jni/faiss/external/faiss"]
	path = jni/faiss/external/faiss
	url = https://github.com/facebookresearch/faiss
