grant {
    permission java.lang.RuntimePermission "loadLibrary.KNNIndex_NMSLIB_V2_0_8";
    permission java.lang.RuntimePermission "loadLibrary.KNNIndex_FAISS_V1_6_4";

};
