name: Testing Workflow
# This workflow is triggered on pull requests to development branch
on:
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        java: [13]
    # Job name
    name: Build KNN with JDK ${{ matrix.java }}
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      # This step uses the checkout Github action: https://github.com/actions/checkout
      - name: Checkout Branch
        uses: actions/checkout@v1
      # This step uses the setup-java Github action: https://github.com/actions/setup-java
      - name: Set Up JDK ${{ matrix.java }}
        uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.java }}
      - name: Build with Gradle
        run: ./gradlew build
